<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Document</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}" >
</head>

<body class="w">
    <div class="s2">
    <header>
   <p>hjccgjhhllvjhhvgi</p>
    </header>
    </div>
    <div class="s3">
        <main >
            <div class="parent1">
            <p class="p1">
                <a class="text1" href="blok1.html" link="#565CF6">Мероприятия</a>
            </p>
            <p class="p2">
                <a class="text1">Мероприятия</a>
            </p>
            
            </p>
            <p class="p3">
                <a class="text1">Мероприятия</a>
            </p>
            <p class="p4">
                <a class="text1">Мероприятия</a>
            </p>
            </div>
            
            <div class="parent">
                <div class="p5" >
                   
                </div>
                <p class="text">С напутственными словами открывали «Кванториум» первый заместитель Губернатора Челябинской области Ирина Гехт, прокурор Челябинской области Карен Габриелян и глава Копейского городского округа Андрей Фалейчик. На открытии провели первые мастер-классы</p>
            </div>
            
        </main>
    </div>
    <div class="s4">
        <footer>
            <p>это подвал</p>
        </footer>
    </div>
  
</body>
</html>

